appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
ipython==5.8.0
ipython-genutils==0.2.0
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
ptyprocess==0.6.0
pycorenlp==0.3.0
Pygments==2.4.2
scandir==1.10.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
traitlets==4.3.2
wcwidth==0.1.7
